.row {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 64px 0;
  width: 100vw;
  overflow-x: hidden;
  @media (max-width: $small-device) {
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    max-width: $web-width;
    overflow-x: visible;
  }
}

.interface {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  justify-content: space-between;
  max-width: $web-width;
  min-width: 310px;
  width: 100%;
  @media (max-width: $small-device) {
    flex-shrink: 0;
    min-width: 0;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__box {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 70vh;
    border: 1px solid;
    overflow-y: auto;
    @media (max-width: $small-device) {
      height: 40vw;
    }
  }

  &__header {
    @media (max-width: $small-device) {
      display: none;
    }
  }

  &__default {
    flex-shrink: 0;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    @media (max-width: $small-device) {
      min-height: 40vw;
    }
  }

  &__scroll {
    background: $message-old;
  }

  &__old {
    background: $message-old;
    flex-shrink: 0;
    list-style: none;
    backdrop-filter: blur(1px);
  }

  &__new {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
  }

  &__logs {
    display: flex;
    flex-direction: column;
  }
  &__link {
    border-bottom: $border-main;
  }
}

.send-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.visualizer {
  position: relative;
  border: 1px solid cyan;
  clip-path: inset(0 0 0 0);
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 100%;
  @media (max-width: $small-device) {
    display: none;
    filter: blur(1px);
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: -1000;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  //min-width: 100px;
  margin: 24px;

  @media (max-width: $small-device) {
    flex-shrink: 0;
    margin: 0;
  }

  &.--account {
    align-items: center;
    @media (max-width: $small-device) {
      align-items: flex-end;
      flex-direction: row;
      margin-bottom: 4px;
    }
  }

  &.--conversations {
    @media (max-width: $small-device) {
      flex-direction: row;
      margin-top: 8px;

      input, select, button {
        height: 24px;
      }
    }
  }

  &__avatar {
    height: 64px;
    width: 64px;
    @media (max-width: $small-device) {
      height: 32px;
      margin-right: 8px;
      min-width: 0;
      width: 32px;
    }
  }

  &__name {
    text-align: center;
    white-space: nowrap;
  }
}

.conversation-select {
  align-self: stretch;

  @media (max-width: $small-device) {

  }
}

.conversation-input {
  align-items: center;
  display: flex;
  margin-top: 16px;
  &__label {
    margin-left: 8px;
  }

  @media (max-width: $small-device) {
    margin-top: 0;
    margin-left: 8px;
  }

}
.show-hide {
  @media (min-width: $small-device) {
    display: none;
  }
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 8px 0;

  button {
    font-size: 16px;
    height: 20px;
  }

  .divider {
    flex-grow: 1;
    border-top: 1px solid #fff;
  }

  &.--collapsed {
    .hide {
      display: none;
    }

    &+.--conversations {
      @media (max-width: $small-device) {
        display: none;
      }
    }
  }

  &:not(.--collapsed) {
    .show {
      display: none;
    }
  }
}

.-new-message {
  background: $message-new;
}
