.row {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 10% 0;
  width: 100vw;
  @media (max-width: $small-device) {
    flex-direction: column;
    height: 65vw;
    justify-content: flex-end;
    padding: 0;
    margin: 16px 16px 16px 48px;
    max-width: $web-width;
    width: calc(100vw - 64px);
  }
}

.interface {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: $web-width;
  width: 100%;
  @media (max-width: $small-device) {
    flex-shrink: 0;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  width: 100%;
  &__box {
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 1px solid;
    overflow-y: auto;
    @media (max-width: $small-device) {
      height: 40vw;
    }
  }

  &__header {
    @media (max-width: $small-device) {
      display: none;
    }
  }

  &__default {
    flex-shrink: 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    @media (max-width: $small-device) {
      min-height: 40vw;
    }
  }

  &__scroll {
    height: 24px;
    background: $message-old;
  }

  &__old {
    background: $message-old;
    flex-shrink: 0;
    list-style: none;
    backdrop-filter: blur(1px);
  }

  &__new {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
  }

  &__logs {
    display: flex;
    flex-direction: column;
  }
  &__link {
    border-bottom: $border-main;
  }
}

.send-message {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  width: 100%;
}

.visualizer {
  flex-grow: 1;
  position: relative;
  @media (max-width: $small-device) {
    filter: blur(1px);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 16px;
    z-index: -1000;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  min-width: 100px;
  padding: 24px;

  @media (max-width: $small-device) {
    flex-shrink: 0;
    padding: 0;
  }

  &.--account {
    align-items: center;
    @media (max-width: $small-device) {
      margin-left: -48px;
      flex-direction: row;
    }
  }

  &.--conversations {
    @media (max-width: $small-device) {
      display: none;
    }
  }

  &__avatar {
    height: 64px;
    width: 64px;
    @media (max-width: $small-device) {
      height: 32px;
      margin: 0 8px;
      width: 32px;
    }
  }

  &__name {
    text-align: center;
  }
}

.conversation-select {
  align-self: stretch;
}

.conversation-input {
  align-items: center;
  display: flex;
  margin-top: 16px;
  &__label {
    margin-left: 8px;
  }
}

.-new-message {
  background: $message-new;
}
