$web-width: 590px;
.messages {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  width: 100%;
}

.send-message {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  width: 100%;
}

.interface {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10% 0;
  width: 100vw;
}
