/* line 2, ../../../sass/styles/messaging.scss */
.messages {
  display: flex;
  flex-direction: column;
  max-width: 590px;
  width: 100%;
}

/* line 9, ../../../sass/styles/messaging.scss */
.send-message {
  display: flex;
  flex-direction: column;
  max-width: 590px;
  width: 100%;
}

/* line 16, ../../../sass/styles/messaging.scss */
.interface {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10% 0;
  width: 100vw;
}
