/* line 3, ../../../sass/styles/messaging.scss */
.messages {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  width: 100%;
}
/* line 8, ../../../sass/styles/messaging.scss */
.messages__box {
  display: flex;
  flex-direction: column;
  height: 200px;
  border: 1px solid;
  overflow-y: auto;
}
@media (max-width: 598px) {
  /* line 8, ../../../sass/styles/messaging.scss */
  .messages__box {
    height: 100px;
  }
}
/* line 19, ../../../sass/styles/messaging.scss */
.messages__default {
  flex-shrink: 0;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 598px) {
  /* line 19, ../../../sass/styles/messaging.scss */
  .messages__default {
    min-height: 100px;
  }
}
/* line 29, ../../../sass/styles/messaging.scss */
.messages__scroll {
  height: 24px;
  background: grey;
}
/* line 34, ../../../sass/styles/messaging.scss */
.messages__old {
  background: lightgrey;
  flex-shrink: 0;
  list-style: none;
}
/* line 40, ../../../sass/styles/messaging.scss */
.messages__new {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}
/* line 46, ../../../sass/styles/messaging.scss */
.messages__logs {
  display: flex;
  flex-direction: column;
}
/* line 50, ../../../sass/styles/messaging.scss */
.messages__link {
  color: white;
  background: black;
  text-decoration: none;
}
/* line 54, ../../../sass/styles/messaging.scss */
.messages__link:visited {
  color: white;
  text-decoration: none;
}

/* line 61, ../../../sass/styles/messaging.scss */
.send-message {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  width: 100%;
}
/* line 66, ../../../sass/styles/messaging.scss */
.send-message__input {
  width: 100%;
  border: 1px solid black;
}

/* line 72, ../../../sass/styles/messaging.scss */
.interface {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10% 0;
  width: 100vw;
}
@media (max-width: 598px) {
  /* line 72, ../../../sass/styles/messaging.scss */
  .interface {
    padding: 32px 16px;
  }
}

/* line 86, ../../../sass/styles/messaging.scss */
.visualizer {
  flex-grow: 1;
  position: relative;
}
