/* line 4, ../../../sass/styles/messaging.scss */
.row {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 10% 0;
  width: 100vw;
}
@media (max-width: 598px) {
  /* line 4, ../../../sass/styles/messaging.scss */
  .row {
    padding: 16px;
    height: 80vw;
  }
}

/* line 17, ../../../sass/styles/messaging.scss */
.interface {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* line 25, ../../../sass/styles/messaging.scss */
.messages {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  width: 100%;
}
/* line 30, ../../../sass/styles/messaging.scss */
.messages__box {
  display: flex;
  flex-direction: column;
  height: 200px;
  border: 1px solid;
  overflow-y: auto;
}
@media (max-width: 598px) {
  /* line 30, ../../../sass/styles/messaging.scss */
  .messages__box {
    height: 40vw;
  }
}
/* line 41, ../../../sass/styles/messaging.scss */
.messages__default {
  flex-shrink: 0;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 598px) {
  /* line 41, ../../../sass/styles/messaging.scss */
  .messages__default {
    min-height: 40vw;
  }
}
/* line 51, ../../../sass/styles/messaging.scss */
.messages__scroll {
  height: 24px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 56, ../../../sass/styles/messaging.scss */
.messages__old {
  background: rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  list-style: none;
  backdrop-filter: blur(1px);
}
/* line 63, ../../../sass/styles/messaging.scss */
.messages__new {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}
/* line 69, ../../../sass/styles/messaging.scss */
.messages__logs {
  display: flex;
  flex-direction: column;
}
/* line 73, ../../../sass/styles/messaging.scss */
.messages__link {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
/* line 77, ../../../sass/styles/messaging.scss */
.messages__link:visited {
  color: white;
  text-decoration: none;
}

/* line 84, ../../../sass/styles/messaging.scss */
.send-message {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  width: 100%;
}

/* line 91, ../../../sass/styles/messaging.scss */
.visualizer {
  flex-grow: 1;
  position: relative;
}
@media (max-width: 598px) {
  /* line 91, ../../../sass/styles/messaging.scss */
  .visualizer {
    filter: blur(1px);
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: -1000;
  }
}

/* line 103, ../../../sass/styles/messaging.scss */
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 24px;
}

/* line 110, ../../../sass/styles/messaging.scss */
.conversation-input {
  align-items: center;
  display: flex;
  margin-top: 16px;
}
/* line 114, ../../../sass/styles/messaging.scss */
.conversation-input__label {
  margin-left: 8px;
}

@media (max-width: 598px) {
  /* line 119, ../../../sass/styles/messaging.scss */
  html {
    position: absolute;
    bottom: 0;
  }
}
