$web-width: 390px;
$small-device: 598px;
.messages {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  width: 100%;
  &__box {
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 1px solid;
    overflow-y: auto;
    @media (max-width: $small-device) {
      height: 40vw;
    }
  }

  &__default {
    flex-shrink: 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    @media (max-width: $small-device) {
      min-height: 40vw;
    }
  }

  &__scroll {
    height: 24px;
    background: rgba(0,0,0,0.5);
  }

  &__old {
    background: rgba(0,0,0,0.3);
    flex-shrink: 0;
    list-style: none;
    backdrop-filter: blur(1px);
  }

  &__new {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
  }

  &__logs {
    display: flex;
    flex-direction: column;
  }
  &__link {
    color: white;
    background: rgba(0,0,0,0.7);
    text-decoration: none;
    &:visited {
      color: white;
      text-decoration: none;
    }
  }
}

.send-message {
  display: flex;
  flex-direction: column;
  max-width: $web-width;
  width: 100%;
  &__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-radius: 0;
  }
}

.interface {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10% 0;
  width: 100vw;
  @media (max-width: $small-device) {
    padding: 16px;
    height: 80vw;
  }
}

.visualizer {
  flex-grow: 1;
  position: relative;
  @media (max-width: $small-device) {
    filter: blur(1px);
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: -1000;
  }
}

html {
  @media (max-width: $small-device) {
    position: absolute;
    bottom: 0;
  }
}
