<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/visualizer.js" type="text/javascript"></script>
    <script src="/js/text.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <span>Type!</span>
    <form id="message-form">
      <input type="text" id="input" name="mess">
    </form>

    <ul id="messages">

    </ul>

    <div class="polyhedron">
      <div class="vertex vertex__0">
        <div class="edge edge__0"></div>
        <div class="edge edge__1"></div>
        <div class="edge edge__2"></div>
      </div>
      <div class="vertex vertex__1">
        <div class="edge edge__0"></div>
        <div class="edge edge__1"></div>
        <div class="edge edge__2"></div>
      </div>
      <div class="vertex vertex__2">
        <div class="edge edge__0"></div>
        <div class="edge edge__1"></div>
        <div class="edge edge__2"></div>
      </div>
      <div class="vertex vertex__3">
        <div class="edge edge__0"></div>
        <div class="edge edge__1"></div>
        <div class="edge edge__2"></div>
      </div>
    </div>

    <div class="polyhedron base">
      <div class="vertex vertex__0 base">
        <div class="edge edge__0 base"></div>
        <div class="edge edge__1 base"></div>
        <div class="edge edge__2 base"></div>
      </div>
      <div class="vertex vertex__1 base">
        <div class="edge edge__0 base"></div>
        <div class="edge edge__1 base"></div>
        <div class="edge edge__2 base"></div>
      </div>
      <div class="vertex vertex__2 base">
        <div class="edge edge__0 base"></div>
        <div class="edge edge__1 base"></div>
        <div class="edge edge__2 base"></div>
      </div>
      <div class="vertex vertex__3 base">
        <div class="edge edge__0 base"></div>
        <div class="edge edge__1 base"></div>
        <div class="edge edge__2 base"></div>
      </div>
    </div>
  </body>
</html>
